@font-face {
	font-family: ProximaNovaRegular; 
	src: url("Font/ProximaNovaRegular.eot");
	src: url("Font/ProximaNovaRegular.woff");
	src: url("Font/ProximaNovaRegular.ttf");
	font-style: normal;
	font-weight: normal;
}

body{
	
	font-family: "ProximaNovaRegular";
}


@main-color: #87b448 ;
@border: #e0e2e6;


//----------HEADER-----------//
header{
	background-color: @main-color;
	height: 68px;
	border-bottom: solid 2px #71973c;
}

.logo {
	background-image: url("Logo.png");
	position: absolute;
	float: left;
	width: 130px;
	height: 40px;
	z-index: 566;
	padding-top: 10px;
}

.form-control{
	background-color: #73993d;
	color: white;
	float: left;
	outline: none;
	height: 35px;
	margin-left: -45px;
	width: 435px;
}

.container-third {
	display: inline-block;
}
.container-third > img{
	margin-right: 60px;
	padding-top: 18px;
	position: relative;
	margin-left: -40px;
}

.image_name{
	float: left;
	color: white;
	margin-top: -27px;
	margin-left: 104px;
}

.main_nav{
	max-width: 20.666667%;
}


//----------MAIN THEME-----------//

//---Center-------////

.col-sm-6{
	max-width: 49%;
}

.col-sm-6 > div > p > h3{
	margin-left: -10px;
	font-size: 30px;

}
table{
	border: solid 1px @border;
	text-align: center;
	margin-top: 2px;
	height: 100%
}
tr > td > div > img{
	border: solid 1px @border;
	margin: 8px;
	padding: 32px;
}

tr > td > div > p {
	text-align: center;
	font-size:small;
	margin-top: 3px;
}
td:hover{
	background-color: #f4f7fb;
	color: #71973c;
}

.but_add{
	background-color: @main-color;
	border-radius: 11%;
	outline: 0;
	width: 146px;
	margin-top: -55px;
	height: 30px;
	color: #fff;
	float: right;
	margin-right: 56px;
	font-size: 17px;
}



//---LeftSide-------////
#navbar{
	list-style-type: none;	
}
#navbar > li {
	outline: none;
	margin-top: 13px;
	margin-left: -40px;
	padding-bottom: 12px;
}

#navbar > li > a{
	text-decoration: none;
	color: black;
}

#navbar > li > a > span{
	margin-left: 25px;
}

.adv, .fc, #navbar > li{
	border-bottom: 1px solid @border;
}

.adv > p {
	color: #7c8695;
}

.adv{
	margin-top: -4px;
}
.fc > span {
	color: #7c8695 ;
}

.fc>.layer_1 {
	margin-top: 19px;
}
.fc > p {
	float: right;
}


.first_c{
	float: right;
	margin-top: -80px;
	line-height: 19px;
}

.first_c > span > small {
	color: #7c8695;
}



.last_w > div > p > small{
	color: #c5ccd7;
	float: left;
}


//---RightSide-------////


.col-sm-4{
	max-width: 20.333333%;
	margin-left: -67px;
	margin-top: 27px;
}

.right_side > .nav_right > .layer_1 {
	padding-bottom: 23px;
	margin-top: -7px;
	margin-bottom: 3px;
}

.right_side > .up > .layer_1 > .first_c{
	margin-right:20px;
	margin-right: 19px;
	margin-top: -84px;
}

.right_side > .adv{
	margin-top: 9px;
}

.right_side > .nav_right > small {
	margin-top: -10px;
}

.right_side>.down>.layer_1 {
	margin-top: 15px;
	margin-bottom: -17px
}

.down{
	padding-bottom: 15px;
}



//---Ask form-------////

.ask_form{
	top: 15%;
	bottom: 0;
	left:0;
	right:5%;
	position: absolute;
	width:600px;
	height:500px;
	border:2px solid @border;
	margin:0 auto;
	background-color: white;
	text-align: left;
}

.ask_form > form > div{
	margin-top:30px;
	margin-left:15px;
}

.btn_s{
	background-color: @main-color;
	border-radius: 11%;
	outline: 0;
	width: 146px;	
	height: 30px;
	color: #fff;	
	font-size: 17px;
}

.close{
	float: right;
}